$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;

form {
  display: none;
  font-size: 18px;
}

.visible-on-start {
  display: block;
}

.team-forms {
  display: none;
  font-size: 18px;
  text-align: center;
}

.team-list {
  display: block;
}

h1 {
  font-size: 28px;
  text-align: center;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}
