$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

form {
  font-size: 18px

}
h1 {
  font-size: 28px
}

.border {
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
}
