$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

form {
  font-size: 18px;
}

#change-password {
  display: none;
}

#sign-out {
  display: none;
}

#create-teams {
  display: none;
}

#update-teams {
  display: none;
}

#get-teams {
  display: none;
}

#destroy-team {
  display: none;
}

#team-forms {
  font-size: 18px;
  display: none;
  text-align: center;
}

#team-list {
  display: block;
}

h1 {
  font-size: 28px;
  text-align: center;
}

.border {
  border: 3px solid #000;
  margin: 20px;
  padding: 20px;
}
